{% extends 'base.html.twig' %}

{% block title %}MovieWorld - {{ movie }}{% endblock %}

{% block body %}
    {{ form(movie_form) }}
    
    {% if votes|length > 0 %}
        {% for vote in votes %}
            <h4>{{ vote.id }}</h4>
        {% endfor %}
    {% else %}
        <div>No votes have been posted yet for this movie.</div>
    {% endif %}
{% endblock %}