{% extends 'base.html.twig' %}

{% block title %}MovieWorld - {{ movie }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-10">
                    <div class="bg-light shadow border rounded-3 p-4">

            {{ form(movie_form) }}
            </div>
        </div>
    </div>
{% endblock %}
